API_URL=https://example.com
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=ap-southeast-2

ASC_KEY_ID=YOUR_ASC_KEY_ID
ASC_ISSUER_ID=YOUR_ASC_ISSUER_ID
ASC_KEY_FILE=/absolute/path/to/AuthKey_YOUR_ASC_KEY_ID.p8
